<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="card text-center border-0">
        <div class="card-body">
          <h1 class="card-title my-2">About</h1>
           <p class="card-text">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください
           </p>
            <%= image_tag "public_top.jpeg" , size: "450x300" %>
        </div>
      </div>
    </div>
  </div>
</div>



