<h1>Admin::会員一覧</h1>
<div class="table">

  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
　<% @customers.each do |customer| %>
<tbody>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.email %></td>
    <td>
      <% if customer.is_deleted == true %>
        有効
      <% else %>
        退会
      <% end %>
    </td>
  </tr>
</tbody>
  <% end %>
</div>
<%= paginate @customers %>
