<div class="container mt-5">
  <div class="row justify-content-center">
   <h2 class="my-4">ジャンル編集</h2>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with model:@genre ,url: admin_genre_path do |f| %><!--[PATCH]
      updateのpathが必要-->
      <div class="row">
      <%= f.label "ジャンル名", class:"col-4" %>
      <%= f.text_field :name, class:"col-8" %>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center mt-5">
          <%= f.submit "変更を保存", class:"btn btn-success" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

