<h1>Admin::注文履歴一覧top</h1>
<table class="orders">
  <th>
    <tr>購入日時</tr>
    <tr>購入者</tr>
    <tr>注文個数</tr>
    <tr>注文ステータス</tr>
  </th>
  <tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>